<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">


<link rel="stylesheet" href="../static/css/menu.css" th:href="@{/css/menu.css}"/>
<body>

<nav class="navbar navbar-default navbar-inverse"  role="navigation" th:fragment="menu">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">WorkAndPlay</a>
        </div>

        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li sec:authorize="isAnonymous()">
                    <a href="/campaign">Campaigns</a>
                </li>
                <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="dropdown-toggle" data-toggle="dropdown">Campaigns<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/campaign/add">Add Campaign</a></li>
                        <li><a href="/campaign">Show All Campaigns</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav">
                <li class="dropdown" sec:authorize="hasRole('ADMIN')">
                    <a class="dropdown-toggle" data-toggle="dropdown">Companies<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/company/add">Add Company</a></li>
                        <li><a href="/company/all">Show All Companies</a></li>
                    </ul>
                </li>
            </ul>
            <form class="navbar-form navbar-left" role="search">
                <div class="form-group">
                    <input type="text" class="form-control" placeholder="Search"/>
                </div>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>
            <ul class="nav navbar-nav navbar-right">
                <li sec:authorize="isAnonymous()"><a href="/register">You do not have an account yet?</a></li>
                <li sec:authorize="hasRole('USER')">
                        <a href="/campaign">My Campaigns</a>
                    </li>
                <li sec:authorize="hasRole('MODERATOR')">
                    <a href="/userStep/moderator">Moderator</a>
                </li>
                    <li class="dropdown" sec:authorize="isAuthenticated()">
                        <a class="dropdown-toggle" data-toggle="dropdown" style="color:  #ff4d4d" th:text="|${#authentication.getName()}|"><span class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a href="/profil">My Profil</a></li>
                            <li><a href="/logout">Logout</a></li>
                        </ul>
                    </li>
                    <li sec:authorize="isAnonymous()">
                        <a href="/login">Login</a>
                    </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" th:fragment="add-form" style="width: 1000px">
    <div id="wraper" class="row">
        <form role="form" action="" method="post" id="campaign" th:object="${campaignBindingModel}">
            <div class="col-lg-12">
                <h1>Create Campaign</h1>
                <div id="errors">

                </div>
                <div class="form-group">
                    <label for="inputStartDate">Start Date</label>
                    <div class="input-group">
                        <input type="date" class="form-control" name="startDate" id="inputStartDate" placeholder="Enter Start Date" th:required = "true"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputEndDate">End Date</label>
                    <div class="input-group">
                        <input type="date" class="form-control" id="InputEndDate" name="endDate" placeholder="Enter End Date" required = "true"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                </div>
                <div class="form-group">
                    <label for="InputDescription">Description</label>
                    <div class="input-group">
                        <textarea name="description" id="InputDescription" class="form-control" rows="5" th:required = "true" ></textarea>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>

                </div>
                <div class="form-group" >
                    <select class="form-control" name="company">
                        <option th:each="company : ${companies}" th:value="${company}" th:text="${company}"></option>
                    </select>
                </div>
                <div class="form-group">
                    <form>
                        <label class="radio-inline">
                            <input type="radio"  data-multi="false"  th:onchange="'hideAddStepButton()'" name="optradio"/>One Step Campaign
                        </label>
                        <label class="radio-inline">
                            <input type="radio"  th:onchange="'showAddStepButton()'" data-multi="true" th:checked="true" name="optradio"/>Many Steps Campaign
                        </label>
                    </form>
                </div>
                <div style="display: flex; justify-content: flex-end;">

                <input  type="button" th:onclick="'addCampaign()'" name="submit" id="submit" value="Submit" class="btn btn-info pull-right"/>
                </div>
                    <a  th:onclick="'addStep()'" id="addStep" class="btn btn-success" >Add Step</a>
            </div>
        </form>
        <div id="steps"></div>
        <hr class="featurette-divider hidden-lg"/>
    </div>
</div>
    <form role="form" action="" method="post" th:fragment="add-step">
        <div class="col-lg-12">
            <h1>Add Step</h1>
            <div class="form-group">
                <label for="InputDescription">Description</label>
                <div class="input-group">
                    <textarea name="description"  class="form-control" rows="5" required = "true" th:required="true"></textarea>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
            </div>
            <div class="form-group">
                <label for="InputDescription">Points Prize</label>
                <div class="input-group">
                    <input type="text" name="prize"  class="form-control" rows="5" required = "true" th:required="true"/>
                    <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
            </div>
            <div class="form-group" >
                <select class="form-control" name="confirmation">
                    <option th:each="confirmation : ${confirmations}" th:value="${confirmation}" th:text="${#strings.capitalize(#strings.toLowerCase(confirmation))}"></option>
                </select>
            </div>
            <div class="form-group">
                <label for="InputDescription">Hints</label>
                <a  th:onclick="'addHint(this)'" class="btn btn-danger">Add Hint</a>
                <div class="input-group">
                    <div id="hints"></div>
                </div>
            </div>
        </div>
    </form>

<div class="form-group" th:fragment="add-hint">
    <div class="input-group">
        <label >Description</label>
        <input type="text" name="hintDescription" class="form-control" rows="5" required = "true"/>
        <label >Price</label>
        <input type="text" class="form-control" rows="5" name="price" />
    </div>
</div>
<div class="container" th:fragment="add-company" style="width: 1000px">
    <div  class="row">
        <form role="form" action="" method="post" th:object="${companyBindingModel}" >
            <div class="col-lg-12">
                <h1>Create Campaign</h1>
                <div class="form-group">
                    <label >Name</label>
                    <div class="input-group">
                        <input type="text" class="form-control" th:field = "*{name}" placeholder="Enter Company Name" th:required = "true"/>
                        <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    <div class="form-control-feedback" th:each="error : ${#fields.errors('name')}" th:text="${error}"></div>
                </div>
                <input  type="submit"  name="submit" value="Submit" class="btn btn-info pull-right"/>
            </div>
        </form>
    </div>
</div>
<script th:src="@{/js/menu.js}"></script>
</body>



</html>