<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div th:replace="fragments/parts::add-company"></div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>