<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/campaigns-form.css" th:href="@{/css/campaigns-form.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Campaigns</h3>
                            </div>
                            <div class="col col-xs-6 text-right" sec:authorize="hasRole('ADMIN')">
                                <button  type="button" class="btn btn-sm btn-primary btn-create"><a href="/campaign/add" style="color: white">Create New</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th sec:authorize="hasRole('ADMIN')"><em class="glyphicon glyphicon-cog"></em></th>
                                <th style="width: 200px">Start Date</th>
                                <th>End Date</th>
                                <th>Description</th>
                                <th>LeaderBoard</th>
                                <th sec:authorize="isAuthenticated()">Start Campaign</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="camp,iter  : ${campaigns}">
                                <td align="center" sec:authorize="hasRole('ADMIN')">
                                    <a th:href="|/campaign/edit/${camp.id}|" class="btn btn-default" sec:authorize="hasRole('ADMIN')"><i class="glyphicon glyphicon-pencil"></i></a>
                                    <a th:onclick="'confirmDelete('+${camp.id}+')'" class="btn btn-danger" sec:authorize="hasRole('ADMIN')"><i class="glyphicon glyphicon-trash"></i></a>
                                </td>
                                <td th:text="${#dates.format(camp.startDate, 'dd-MMM-yyyy')}"></td>
                                <td th:text="${#dates.format(camp.endDate, 'dd-MMM-yyyy')}"></td>
                                <td th:text="${camp.description}"></td>
                                <td >
                                    <a class="btn btn-default" th:href="|/leaderboard/${camp.id}|"><i align ="center" class="glyphicon glyphicon-tasks"></i></a>
                                </td>
                                <td align="center" sec:authorize="isAuthenticated()">
                                    <a class="btn btn-default" th:href="|/step/${camp.id}|"><i align ="center" class="glyphicon glyphicon-tasks"></i></a>
                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-8">
                                <nav aria-label="Page navigation example" th:if="!${#lists.isEmpty(campaigns)}">
                                <ul class="pagination hidden-xs pull-right " th:if="${campaigns.getTotalPages()}>0">
                                    <li class="page=item" th:classappend= "!${campaigns.hasPrevious()}? 'disabled'" ><a href="#" th:href="${campaigns.hasPrevious()}? '/campaign?page='+${campaigns.previousPageable().getPageNumber()}">Next</a></li>
                                    <li class="page-item" th:if="${campaigns.getTotalPages()}>0" th:each="i : ${#numbers.sequence(0,campaigns.getTotalPages()-1)}">
                                        <a href="#" th:href="|/campaign?page=${i}|" th:text="${i+1}"></a>
                                    </li>
                                    <li class="page-item" th:classappend="!${campaigns.hasNext()}?'disabled'"><a href="#"  th:href="${campaigns.hasNext()}? '/campaign?page='+${campaigns.nextPageable().getPageNumber()}">Previous</a></li>
                                </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div></div></div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>