<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/cards.css" th:href="@{/css/cards.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container " >
        <div class="row">
            <div class="col-sm-4" th:each="company: ${companies}" >
                <div class="card" >
                    <div class="card-block">
                        <h4 class="card-title" >Company</h4>
                        <p class="card-text" th:text="${company.name}" ></p>
                    </div>
                    </div>
                </div>
                <br/>
            </div>
        </div>
        <br/>
        <nav aria-label="Page navigation example" th:align="center" th:if="!${#lists.isEmpty(companies)}">
            <ul class="pagination" th:if="${companies.getTotalPages()}>0"  >
                <li class="page-item" th:classappend="!${companies.hasPrevious()}? 'disabled'"><a class="page-link" href="#" th:href="${companies.hasPrevious()} ? '/company/all?page=' + ${companies.previousPageable().getPageNumber()}" >Previous</a></li>
                <li class="page-item" th:if="${companies.getTotalPages()}>0" th:each="i : ${#numbers.sequence(0, companies.getTotalPages() - 1)}">
                    <a class="page-link" href="#" th:href="|/company/all?page=${i}|" th:text="${i + 1}">1</a>
                </li>
                <li class="page-item" th:classappend="!${companies.hasNext()}? 'disabled'"><a class="page-link" href="#" th:href="${companies.hasNext()} ? '/company/all?page=' + ${companies.nextPageable().getPageNumber()}">Next</a></li>
            </ul>
        </nav>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>