<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container" style="width: 1000px">
        <div id="wraper" class="row">
            <form role="form" method="post" th:object="${campaign}">
                <div class="col-lg-12">
                    <h1>Edit Campaign</h1>
                    <div class="form-group">
                        <label for="inputStartDate">Start Date</label>
                        <div class="input-group">
                            <input type="date"  class="form-control" name="startDate" id="inputStartDate" th:value="*{startDate}" placeholder="Enter Start Date"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <div class="form-group">
                        <label for="InputEndDate">End Date</label>
                        <div class="input-group">
                            <input type="date" class="form-control" id="InputEndDate" name="endDate" th:value="${campaign.endDate}"  placeholder="Enter End Date"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <div class="form-group">
                        <label for="InputDescription">Description</label>
                        <div class="input-group">
                            <textarea name="description" id="InputDescription" class="form-control" th:value="${campaign.description}"  rows="5" ></textarea>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <div class="form-group" >
                        <select class="form-control" name="company" th:value="*{company}">
                            <option th:each="company : ${companies}" th:value="${company}" th:text="${company}"></option>
                        </select>
                    </div>
                    <input  type="button" th:onclick="'addCampaign()'" name="submit" id="submit" value="Submit" class="btn btn-info pull-right"/>
                    <a  th:onclick="'addStep()'" class="btn btn-success" >Add Step</a>
                </div>
            </form>
            <div id="steps">
                <form role="form" action="" method="post" th:fragment="add-step" th:each="step: ${campaign.steps}">
                    <div class="col-lg-12">
                        <h1>Add Step</h1>
                        <div class="form-group">
                            <label for="InputDescription">Description</label>
                            <div class="input-group">
                                <textarea name="description"  class="form-control" rows="5" required = "true" th:required="true"></textarea>
                                <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                        </div>
                        <div class="form-group" >
                            <select multiple="true" class="form-control" name="confirmations">
                                <option th:each="confirmation : ${confirmations}" th:value="${confirmation}" th:text="${#strings.capitalize(#strings.toLowerCase(confirmation))}"></option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="InputDescription">Hints</label>
                            <a  th:onclick="'addHint(this)'" class="btn btn-danger">Add Hint</a>
                            <div class="input-group">
                                <div id="hints">
                                    <div class="form-group" th:fragment="add-hint">
                                        <div class="input-group" th:each="hint: ${step.hints}" >
                                            <label >Description</label>
                                            <input type="text" th:value="${hint.description}" name="hintDescription" class="form-control" rows="5" required = "true"/>
                                            <label >Price</label>
                                            <input type="text" th:value="${hint.price}" class="form-control" rows="5" name="price" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <hr class="featurette-divider hidden-lg"/>
        </div>
    </div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>