<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/home.css" th:href="@{/css/home.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
        <h1 style="color: #f7fdca">Ти завърши тази кампания успешно. Върни се към списъка с <a style="color:  #ff4d4d" href="/campaign">кампании</a></h1>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/js/home.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>