<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <div class="container" th:fragment="add-company" style="width: 1000px" th:object="${step}">
        <h1 th:text="${#strings.toString(step.confirmationLevel)}=='WAITING_CONFIRMATION' ? 'Вие попълнихте стъпката успешно . Изчаква се потвърждение от вашия работодател'"></h1>
        <div  class="row" th:style="${#strings.toString(step.confirmationLevel)}=='WAITING_CONFIRMATION' ? 'pointer-events:none'">
            <form role="form" action="" method="post" >
                <div class="col-lg-12">
                    <div class="form-group">
                        <label >Описание</label>
                        <p th:text="*{description}"></p>
                        <div class="input-group">
                            <input type="text" class="form-control" name = "answer" placeholder="Enter Answer Here" th:required = "true"/>
                            <span class="input-group-addon"><i class="glyphicon glyphicon-ok form-control-feedback"></i></span></div>
                    </div>
                    <input   type="button"  th:onclick="'completeStep('+*{id}+')'"  name="submit" value="Submit" class="btn btn-info pull-right"/>
                    <div style="display: flex; justify-content: flex-end;">
                        <input  type="button" th:onclick="'getHint('+*{id}+')'"  name="submit" id="submit" value="Hint" class="btn btn-info pull-left"/>
                    </div>
                    <div id="hints"></div>
                </div>
            </form>
        </div>
    </div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>