<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/campaigns-form.css" th:href="@{/css/campaigns-form.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">LeaderBoard</h3>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th style="width: 200px">Име</th>
                                <th>Компания</th>
                                <th>Кампания</th>
                                <th>Точки</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="user,iter  : ${users}">
                                <td th:text="${user.username}"></td>
                                <td th:text="${user.companyName}"></td>
                                <td th:text="${user.campaignDescription}"></td>
                                <td th:text="${user.points}"></td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-8">
                                <nav aria-label="Page navigation example" th:if="!${#lists.isEmpty(users)}">
                                <ul class="pagination hidden-xs pull-right" th:if="${users.getTotalPages()}>0">
                                    <li class="page=item" th:classappend= "!${users.hasPrevious()}? 'disabled'" ><a href="#" th:href="${users.hasPrevious()}? '/leaderboard/'+${users.campaignId}+'?page='+${users.previousPageable().getPageNumber()}">Next</a></li>
                                    <li class="page-item" th:if="${users.getTotalPages()}>0" th:each="i : ${#numbers.sequence(0,users.getTotalPages()-1)}">
                                        <a href="#" th:href="|/leaderboard/${campaignId}?page=${i}|" th:text="${i+1}"></a>
                                    </li>
                                    <li class="page-item" th:classappend="!${users.hasNext()}?'disabled'"><a href="#"  th:href="${users.hasNext()}? '/leaderboard/'+${users.campaignId}+'page='+${users.nextPageable().getPageNumber()}">Previous</a></li>
                                </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div></div></div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>