<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container" >
        <div class="row">
            <div class="main">
                <h3>Please Log In, or <a style="color:  #ff4d4d" href="/register">Register</a></h3>
                <div class="row">
                    <div class="col-xs-12 col-sm-12 col-md-12">
                        <form action="/connect/facebook" method="post">
                            <input type="hidden" name="scope" value="public_profile,email"/>
                            <input  class="btn btn-primary" type="submit" value="Facebook"/>
                        </form>
                    </div>
                </div>
                <div class="login-or">
                    <hr class="hr-or"/>
                    <span class="span-or">or</span>
                </div>

                <form method="post">
                    <div class="form-group">
                        <label for="inputUsernameEmail">Username</label>
                        <input type="text" class="form-control" id="inputUsernameEmail" name="username"/>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" name="password"/>
                    </div>
                    <div class="checkbox pull-right">
                        <label>
                            <input type="checkbox" class="form-check-input" name="rememberMe"/>
                            Remember me
                            </label>
                    </div>
                    <button style="background-color: #262626" type="submit" class="btn btn btn-primary">
                        Log In
                    </button>
                </form>

            </div>

        </div>
    </div>


</main>
        <script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>