<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container" th:object="${profile}">
        <div class="row">
            <div class="span4 well">
                <div class="row">
                    <div class="span1" align="center"><img style="width: 100%"  th:src="*{imageURL}"  /></div>
                    <div class="span3" align="center">
                        <p th:text="*{role}"></p>
                        <p><strong th:text="*{username}"></strong></p>
                        <span class=" badge badge-warning" th:text="|*{points} points|"></span>
                        <span class=" badge badge-info" th:text="|*{sum} money|"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>