<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/login.css" th:href="@{/css/login.css}"/>

</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container" >
        <div class="row">
            <div class="main">
                <h3>Register</h3>
                <form method="post" th:action="@{/register}" th:object="${registrationModel}">
                    <div class="form-group">
                        <label for="inputUsernameEmail">Username</label>
                        <input type="text" class="form-control" id="inputUsernameEmail" th:field = "*{username}"/>
                        <div id="nameHelp" class="form-control-feedback" th:each="error : ${#fields.errors('username')}" th:text="${error}">Error Message</div>

                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password</label>
                        <input type="password" class="form-control" id="inputPassword" th:field = "*{password}"/>
                        <div class="form-control-feedback" th:each="error : ${#fields.errors('password')}" th:text="${error}">Sorry, that password is incorrect?</div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">ConfirmPassword</label>
                        <input type="password" class="form-control" id="inputConfirmPassword" th:field = "*{confirmPassword}"/>
                        <div class="form-control-feedback" th:each="error : ${#fields.errors('global')}" th:text="${error}">Sorry, passwords are not matching?</div>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Image Url</label>
                        <input type="text" class="form-control" id="inputImageURL" th:field = "*{imageURL}"/>
                    </div>
                    <div class="form-group" >
                        <label for="inputPassword">Company</label>
                        <select class="form-control" name="companies" th:field = "*{companyName}">
                            <option th:each="company : ${companies}" th:value="${company}" th:text="${company}"></option>
                        </select>
                    </div>
                    <input style="background-color:#262626 " type="submit" class="btn btn-success" value="Register"/>

                </form>

            </div>

        </div>
    </div>
</main>
        <script th:src="@{jquery/jquery.min.js}"></script>
<script th:src="@{bootstrap/js/bootstrap.min.js}"></script>
</body>
</html>