<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec = "http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8"/>
    <title>WorkAndPlay</title>
    <link rel="stylesheet" href="../static/bootstrap/css/bootstrap.min.css"
          th:href="@{/bootstrap/css/bootstrap.min.css}"/>
    <link rel="stylesheet" href="../static/css/campaigns-form.css" th:href="@{/css/campaigns-form.css}"/>
</head>
<body style="background-image: url('http://www.dougsblog.org/wp-content/uploads/2013/09/work-and-play.jpg')">
<header th:replace="fragments/parts::menu">
</header>
<main>
    <br/>
    <div class="container">
        <div class="row">
            <div class="col-md-10 col-md-offset-1">

                <div class="panel panel-default panel-table">
                    <div class="panel-heading">
                        <div class="row">
                            <div class="col col-xs-6">
                                <h3 class="panel-title">Стъпки чакащи потвърждение</h3>
                            </div>
                            <div class="col col-xs-6 text-right" sec:authorize="hasRole('ADMIN')">
                                <button  type="button" class="btn btn-sm btn-primary btn-create"><a href="/campaign/add" style="color: white">Create New</a></button>
                            </div>
                        </div>
                    </div>
                    <div class="panel-body">
                        <table class="table table-striped table-bordered table-list">
                            <thead>
                            <tr>
                                <th sec:authorize="hasRole('ADMIN')"><em class="glyphicon glyphicon-cog"></em></th>
                                <th style="width: 200px">Име</th>
                                <th>Описание</th>
                                <th>Отговор</th>
                                <th>Потвърди/Откажи</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr th:each="step,iter  : ${steps}">
                                <td th:text="${step.username}"></td>
                                <td th:text="${step.stepDescription}"></td>
                                <td th:text="${step.confirmationText}"></td>
                                <td align="center">
                                    <a class="btn btn-default" th:href="|/userStep/confirmed/${step.id}|" ><i align ="center" class="glyphicon glyphicon-ok"></i></a>
                                    <a class="btn btn-default" th:href="|/userStep/denied/${step.id}|" ><i align ="center" class="glyphicon glyphicon-remove"></i></a>

                                </td>
                            </tr>
                            </tbody>
                        </table>

                    </div>
                    <div class="panel-footer">
                        <div class="row">
                            <div class="col col-xs-8">
                                <nav aria-label="Page navigation example" th:if="!${#lists.isEmpty(steps)}">
                                <ul class="pagination hidden-xs pull-right" th:if="${steps.getTotalPages()}>0">
                                    <li class="page=item" th:classappend= "!${steps.hasPrevious()}? 'disabled'" ><a href="#" th:href="${steps.hasPrevious()}? '/userStep/moderator?page='+${steps.previousPageable().getPageNumber()}">Next</a></li>
                                    <li class="page-item" th:if="${steps.getTotalPages()}>0" th:each="i : ${#numbers.sequence(0,steps.getTotalPages()-1)}">
                                        <a href="#" th:href="|/userStep/moderator?page=${i}|" th:text="${i+1}"></a>
                                    </li>
                                    <li class="page-item" th:classappend="!${steps.hasNext()}?'disabled'"><a href="#"  th:href="${steps.hasNext()}? '/userStep/moderator?page='+${steps.nextPageable().getPageNumber()}">Previous</a></li>
                                </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>

            </div></div></div>
</main>
<script th:src="@{/jquery/jquery.min.js}"></script>
<script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/js/utils.js}"></script>
</body>
</html>